gradio==3.50.2
python-dotenv==1.0.1
pydantic==2.6.4
llama-index==0.10.22
llama-index-embeddings-huggingface==0.1.4
llama-index-llms-openai==0.1.12
llama-index-vector-stores-chroma==0.1.6
llama-index-llms-ollama==0.1.2
llama-index-readers-file==0.1.11
llama-index-callbacks-wandb==0.1.2
llama-index-retrievers-bm25==0.1.3
transformers==4.41.0
torch
pymupdf==1.24.3
tqdm==4.66.4
requests==2.32.3
pandas==2.2.3
sentence-transformers==3.2.0
charset-normalizer==3.4.3
packaging==25.0
